$toggle-min-inline-size: 215px;
$toggle-block-size: 50px;
$line-color: #d9d9d9;

.about {
  display: flex;
  flex-direction: column;
  gap: 21px;
  inline-size: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.toggle {
  box-sizing: border-box;

  display: inline-flex;
  flex: none;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

  min-inline-size: $toggle-min-inline-size;
  block-size: $toggle-block-size;
  padding-inline: 23px 20px;

  background: $line-color;
  border: none;
  border-radius: 10px;

  color: #000;
  font: inherit;
  font-size: 20px;
  line-height: 24px;

  cursor: pointer;
}

.arrow {
  flex: none;
}

.line {
  flex: 1;
  block-size: 0;

  border-block-start: 1px solid $line-color;
}

.descriptions {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
