$toggle-min-inline-size: 215px;
$line-color: #d9d9d9;

.about {
  display: flex;
  flex-direction: column;
  gap: 21px;
  inline-size: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.toggle {
  flex: none;
  justify-content: space-between;

  min-inline-size: $toggle-min-inline-size;
  padding-inline: 23px 20px;

  font-size: 20px;
  line-height: 24px;
}

.arrow {
  flex: none;
}

.arrow-closed {
  flex: none;
  transform: rotate(180deg);
}

.line {
  flex: 1;
  block-size: 0;

  border-block-start: 1px solid $line-color;
}

.descriptions {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
